# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# MkDocs build output
site/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

